<!-- start custom head snippets -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8776961682079388"
     crossorigin="anonymous"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<meta name="google-site-verification" content="g80sYBxX1WMdtLI8DosDM5e9Fw9xOB5YrfjxlhwNe0E" />
<!-- end custom head snippets -->

<!-- _includes/head.html 파일에 추가 -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
