---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Noto Sans 폰트 적용
// body {
//     font-family: 'Noto Sans', sans-serif; // 기본 본문 폰트 설정
//     font-size: 16px; // 필요시 기본 글자 크기 설정
// }

// h1, h2, h3, h4, h5, h6 {
//     font-family: 'Noto Sans', sans-serif; // 헤더 폰트 설정
// }

// p, li, a {
//     font-family: 'Noto Sans', sans-serif; // 문단, 리스트, 링크 폰트 설정
// }

// Nanum Gothic 폰트 적용
body {
    font-family: 'Nanum Gothic', sans-serif; // 기본 본문 폰트 설정
    font-size: 16px; // 필요시 기본 글자 크기 설정
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nanum Gothic', sans-serif; // 헤더 폰트 설정
}

p, li, a {
    font-family: 'Nanum Gothic', sans-serif; // 문단, 리스트, 링크 폰트 설정
}